<h4 class="title text-uppercase">Blocipedia</h4>
<h1 class="headline" id="typedtext">Create and share Markdown wikis.</h1>
<div class="row">
  <%= link_to(new_charge_path) do %>
    <div class="plan premium-plan col-md-4">
      <h3>Premium Plan</h3>
      <p class="font-italic">$15</p>
      <p>Create as many public wikis as you want!</p>
      <p>Create private wikis</p>
    </div>
  <% end %>
  <div class="plan standard-plan col-md-4 col-md-offset-1">
    <h3>Standard Plan</h3>
    <p class="font-italic">Free</p>
    <p>Create as many public wikis as you want!</p>
  </div>
</div>
